@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
